@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.bg-about {
    /* font-family: 'Krona One', sans-serif; */
    background: linear-gradient(90deg, #000 2.95%, #025EFF 102.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.software-expertise {
    font-size: 120px;
    font-weight: 800;
    background: linear-gradient(92deg, #000 5.41%, rgba(0, 0, 0, 0.50) 88.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    z-index: 10;
}

.swal2-popup {
    font-size: 12px;
}

.slide-item {
    display: none;
}

.slide-container:hover>.slide-item {
    top: 0;
    display: block;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 80px;

}

.splide__arrow {
    display: none !important;
}

.bg-home-page {
    background: radial-gradient(circle, rgba(182, 212, 252, 1) 0%, rgba(192, 218, 252, 1) 22%, rgba(229, 238, 250, 1) 43%, rgba(255, 255, 255, 1) 84%);
}


/* .fade-in {
    opacity: 0;
    transform: translateY(200px);
}

.fade-in.active {
    animation: fade .8s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */